# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.so
*.egg
*.egg-info/
build/
dist/

# Django
*.sqlite3
/media/
/static/
*.pot
*.pyc

# Environnement virtuel
venv/
.env
.env.example

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Autres fichiers temporaires
*.bak
*.swp
*~
